@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Passion+One&display=swap');


body{
    background-color: darkgray !important;
    font-family: 'Mooli', sans-serif !important;
}

h1{
    text-align: center;
    font-weight: bolder !important;
}


main{
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    margin-top: 50px;
    background-color: white;
    width: 500px;
    border-radius: 7px;
}

nav{
    display: flex !important;
    flex-direction: row;
    margin-bottom: 5px;
}

main nav input{
    width: 380px;
    border: 1px solid grey;
    border-radius: 7px;
    margin-right: 4px;
}

ul{
    padding: 0px;
}

#res li {
    background-color: rgba(0, 0, 0, 0.685);
    font-size: 19px;
    margin-bottom: 5px;
    padding: 3px;
    color: white;
    list-style: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.514);
}

#res li:hover {
    background-color: black;
    cursor: pointer;
    transition-duration: 0.5s;
}

#res li:not(:hover){
    background-color: rgba(0, 0, 0, 0.685);
    transition-duration: 0.5s;
}

button.editar{
    background-color: white;
    border: 1px solid black;
    border-radius: 11px;
    padding: 4.5px;
    cursor: pointer;
}

button.editar:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.7s;
    border: 1px solid white;
}

button.editar:not(:hover){
    background-color: rgb(153, 153, 153);
    border: 1px solid black;
    border-radius: 11px;
    padding: 4.5px;
    transition-duration: 0.7s;
}

button.fa-solid{
    height: 39px;
    background-color: rgb(153, 153, 153);
    border: 1px solid black;
    border-radius: 11px;
    padding: 4.5px;
    cursor: pointer;
    margin-right: 4px;
}

button.fa-solid:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition-duration: 0.7s;
    border: 1px solid white;
}

button.fa-solid:not(:hover){
    height: 39px;
    background-color: rgb(153, 153, 153);
    border: 1px solid black;
    border-radius: 11px;
    padding: 4.5px;
    cursor: pointer;
    transition-duration: 0.7s;
}